<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>글쓰기 페이지</h1>
    <hr>
    <form action="/write" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="제목"><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <input type="file" name="file" id="file">
        <br><br>
        <button type="submit">업로드</button>
    </form>
</body>


</html>